body {
    margin: 0;
}

html {
    font-size: 1.1em;
}

header {
    text-align: center;
}

#main_logo {
    width: 30%;
}

#main_div {
    border-top: solid 3px #ffd877;
    background-color:#ffe80033;
    padding: 1%;
}

h3 a {
    text-decoration: none;
    color: black;
}

main {
    width: 50%;
    margin: auto;
}

main > h1 {
    text-align: center;
}

img + h4 {
    color: #00000066;
    text-align: center ;
}