body {
    margin: 0;
}

header {
    text-align: center;
}

main img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

#main_logo {
    width: 30%;
}

#header_div {
    border-top: solid 3px #ffd877;
    background-color:#ffe80033;
    padding: 1%;
}

#header_div a {
    text-decoration: none;
    color: black;
}

main {
    width: 50%;
    margin: auto;
}

main > h1 {
    text-align: center;
}

img + h4 {
    color: #00000066;
    text-align: center ;
}

#feat_div {
    border-left: solid 3px orange;
    padding-left: 1.5em;
}

#feat_div h3 {
    color: orangered;
    margin: 0;
}