header {
    text-align: center;
}

#main_logo {
    width: 30%;
}

#main_div {
    border-top: solid 3px #ffd877;
    background-color:#ffe80033;
    padding: 1%;
}

h3 a {
    text-decoration: none;
}

main {
    width: 70%;
    margin: auto;
}